@import "pico.min.css";
@import "animate.min.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  padding-top: 0 !important;
}

footer p {
  margin-bottom: 0 !important;
  text-align: center;
}

.hidden {
  display: none;
}

#joke #another-joke-btn {
  text-align: end;
}
